beautifulsoup4==4.6.0
certifi==2018.4.16
chardet==3.0.4
Django==2.0.6
django-bootstrap==0.2.4
django-crispy-forms==1.7.2
idna==2.7
numpy==1.14.5
pandas==0.23.1
Pillow==5.2.0
psycopg2==2.7.5
python-dateutil==2.7.3
pytz==2018.4
requests==2.19.1
six==1.11.0
urllib3==1.23
