<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	{% load static %}
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="{% static 'fav.png' %}">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>{% block title %}JobHunt{% endblock %} </title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
    CSS
    ============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<style type="text/css">
	.thumb{
		padding: 20px;
	}

	.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
	</style>


</head>
<body>
<header id="header" id="home" >
	<style>
header
{
    background-color:#8b4789;
}
</style>
	<div class="container">
		<div class="row align-items-center justify-content-between d-flex">
			<div id="logo">
				<a href=""><h2><font color="white">JobHunt</font></h2></a>
			</div>
			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<!-- <li class="menu-active"><a href="{%url 'User:login_user'%}">Home</a></li> -->
					<li><a href="{% url 'User:aboutus'%}">About Us</a></li>
					<li><a href="{% url 'User:contact'%}">Contact</a></li> 
					<li><a class="ticker-btn" href="{%url 'User:signup'%}">Register</a></li>
					<li><a class="ticker-btn" href="{%url 'User:login_user'%}">Login</a></li>
					

				</ul>
			</nav><!-- #nav-menu-container -->
		</div>
	</div>
</header>
<!-- #header -->
{% block content %}
{% endblock %}
<!-- start footer Area -->
<footer class="footer-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-3  col-md-12">
				<div class="single-footer-widget">
					<h6>Services</h6>
					<ul class="footer-nav">
						<li><a href="#">Apply for jobs</a></li>
						<li><a href="#">Post jobs</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6  col-md-12">
				<div class="single-footer-widget newsletter">
					<h6>Why us</h6>
					<ul class="footer-nav">
						<li>Professional services</li>
						<li>Jobs from top companies</li>

					</ul>
				</div>
			</div>

			<div>
				<div>
					<h6>contact-us</h6>
					<p>Phone:+977-9867120866</p>
					<p>E-mail: jubhunt328@gmail.com</p>
					</ul>
				</div>
			</div>
		</div>

		<div class="row footer-bottom d-flex justify-content-between">
			<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
				Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | this Websites is made by Achyut and groups.</a>
			</p>
			<div class="col-lg-4 col-sm-12 footer-social">
				<a href="https://www.facebook.com/jobhunt328"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter"></i></a>
			</div>
		</div>
	</div>
</footer>
<!-- End footer Area -->

<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{% static 'js/easing.min.js' %}"></script>
<script src="{% static 'js/hoverIntent.js' %}"></script>
<script src="{% static 'js/superfish.min.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
